<div class="container-fluid">
  <h1>Editing Classroom</h1>

  <%= render 'form', classroom: @classroom %>

  <%= link_to 'Show', @classroom, class: "btn btn-light min-width-btn" %> |
  <%= link_to 'Back', classrooms_path, class: "btn btn-light min-width-btn" %>
</div>