<div id="<%= dom_id student %>">
  <p>
    <strong>Person:</strong>
    <%= student.person_id %>
  </p>

  <p>
    <strong>School education:</strong>
    <%= student.school_education %>
  </p>

</div>
