<div class="container-fluid">
  <h1>Editing Type Item</h1>

  <%= render 'form', type_item: @type_item %>

  <%= link_to 'Show', @type_item, class: "btn btn-light min-width-btn" %> |
  <%= link_to 'Back', type_items_path, class: "btn btn-light min-width-btn" %>
</div>