<div id="<%= dom_id classroom_teacher %>">
  <p>
    <strong>Classroom:</strong>
    <%= classroom_teacher.classroom_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= classroom_teacher.teacher_id %>
  </p>

</div>
