<div id="<%= dom_id subject %>">
  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subject.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= subject.active %>
  </p>

</div>
