<div id="<%= dom_id classroom_student %>">
  <p>
    <strong>Classroom:</strong>
    <%= classroom_student.classroom_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= classroom_student.student_id %>
  </p>

</div>
