<div class="container-fluid">
  <h1>New Classroom Student</h1>

  <%= render 'form', classroom_student: @classroom_student %>

  <%= link_to 'Back', classroom_students_path, class: "btn btn-light min-width-btn" %>
</div>